    <div class="container mt-5 pl-5">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h2 class="text-center "> CREAT A NEW ACCOUNT  </h2>
                <form action="/signup" method="post" role="form" enctype="application/x-www-form-urlencoded">
                    
                    <div class="form-group ">
                        <label> Name </label>
                        <input type="Name" class="form-control" name="Name" placeholder="enter name">
                    </div>
                    <div class="form-group ">
                        <label> Email </label>
                        <input type="Email" class="form-control" name="Email" placeholder="enter email">
                    </div>
                    <div class="form-group ">
                        <label> password</label>
                        <input type="Password" class="form-control" name="Password" placeholder="enter password">
                    </div>

                    <a href="/login"> already have a account?</a>
                    <button type="submit" class="btn btn-primary float-right">signup</button>
                </form>
            </div>
        </div>
    </div>
